# 0_dcm (updated with newest shared versions)
numpy==2.2.4
pandas==2.2.3
python-dateutil==2.9.0.post0
pytz==2024.2
six==1.17.0
tzdata==2024.2

# Install dcm2niix from outside, use brew install dcm2niix

# 1_pydeface (updated with newest shared versions)
pydeface==2.0.2

# 3_fmriprep 
fmriprep-docker==24.0.1